<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO-LIST</title>
    <!-- include boostrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <% include("./partials/header") %>
        <div id="content">
            <div class="row">
                <div class="view-notes col-6">
                    <h1 class="note-title text-center">My Notes</h1>
                    <ul class="note-list">
                        <% todo.forEach(todos=> { %>
                            <li class="note-wrapper">
                                <div class="row">
                                    <a href="/delete/todo/<%= todos._id %>" class="btn delete-btn ">Delete</a>
                                    <button class="btn edit-btn" onclick="edit('<%= todos._id %>')">Edit</button>
                                </div>
                                <p class="note-content" contenteditable>
                                    <%= todos.todo %>
                                </p>
                                <script>
                                    function edit(id) {
                                        let editBtn = document.querySelector('.edit-btn');
                                        console.log('hello');
                                        let deleteBtn = document.querySelector('.delete-btn');
                                        deleteBtn.click();
                                        const form = document.getElementById('note-form');
                                        const todo = document.getElementById('todo');
                                        let noteContent = document.querySelector('.note-content');
                                        todo.value = noteContent.innerHTML;
                                        fetch('/delete/todo/' + id, {
                                            method: 'GET'
                                        });
                                        form.submit();
                                    }

                                </script>
                            </li>
                            <% }) %>
                    </ul>
                </div>
                <div class="submit-form col-4">
                    <h1 class="upload-title">UPLOAD NEW NOTE</h1>
                    <form action="/add/todo" method="POST" class="d-flex" id="note-form">
                        <input type="text" id="todo" name="todo" class="form-control" placeholder="Enter Todo">
                        <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2 submit-btn">
                    </form>
                </div>
            </div>
        </div>
        <% include("./partials/footer") %>
</body>

</html>