/* COMMON */
html {
    scroll-behavior: smooth;
    height: 100vh;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    
}

/* HEADER */
.title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #FF9F55;
    margin-top: 50px;
    position: relative;
}
#content {
    height: 100%;
}
.row {
    height: 100% !important;
    
}
/* NOTE WRAPPER */
.note-list {
    text-decoration: none;
    list-style: none;
    padding-left: 0px;
}

.note-title {
    position: relative;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    color: #FF9F55;
    margin-top: 50px;
}

.view-notes {
    height: 100%;
    overflow-y: scroll;
    overflow-x:hidden;
}

.note-wrapper {
    position: relative;
    width: 60%;
    height: 40%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #000;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.note-wrapper> .row {
    margin: 0 !important;
}
.delete-btn,
.edit-btn {
    width: 50%;
    border-bottom: 2px solid #000;
    color: #fff;
}
.delete-btn {
    background-color: red;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.edit-btn {
    background-color: #FF9F55;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.note-content {
    margin-left: 10px;
}
/* SUBMIT FORM */
.submit-form {
    position: relative;
    margin-top: 7% !important;
    left: 25%;
    transform: translateX(-50%);
    width: 40% !important;
    background-color: white;
    border-radius: 6px;
    border: 0 2px 2px 2px solid #000;
}

.submit-form>h1 {
    background-color: #FF9F55;
    text-align: center;
    border: 1px solid #000;
    margin-bottom: 0px;
    color: #fff;
    
}
.submit-btn {
    margin: 0 !important;
}
